:root {
    --beginner-width: 9;
    --beginner-height: 9;
    --intermediate-width: 16;
    --intermediate-height: 16;
    --expert-width: 30;
    --expert-height: 16;
    --mine-size: 13px;
    --border-width: 2.5px;
}

body {
    box-sizing: border-box;
    background-color: antiquewhite;
}

* {
    background-size: contain;
}
.mines {
    display: flex;
    flex-direction: column;
    border-top: var(--border-width) solid grey;
    border-left: var(--border-width) solid grey;
    border-right: var(--border-width) solid white;
    border-bottom: var(--border-width) solid white;
}

.mine-row {
    height: var(--mine-size);
    width:auto;
}

.mine-row div {
    height: var(--mine-size);
    width: var(--mine-size);
}

.zeroMine {
    background-image: url("/assets/icons/zero.svg");
}

.oneMine {
    background-image: url("/assets/icons/one.svg");
}

.twoMine {
    background-image: url("/assets/icons/two.svg");
}

.threeMine {
    background-image: url("/assets/icons/three.svg");
}

.fourMine {
    background-image: url("/assets/icons/four.svg");
}

.fiveMine {
    background-image: url("/assets/icons/five.svg");
}

.sixMine {
    background-image: url("/assets/icons/six.svg");
}

.sevenMine {
    background-image: url("/assets/icons/seven.svg");
}

.eightMine {
    background-image: url("/assets/icons/eight.svg");
}

.mine {
    background-image: url("/assets/icons/mine.svg");
}

.unopened {
    background-image: url("/assets/icons/unopened-square.svg");
}

.pressing {
    background-image: url("/assets/icons/pressed.svg");
}

.flagged {
    background-image: url("/assets/icons/flag.svg");
}

.targetExploded {
    background-image: url("/assets/icons/mine-explode.svg");
}

.exploded {
    background-image: url("/assets/icons/mine.svg");
}

.flagMissed {
    background-image: url("/assets/icons/flag-missed.svg");
}

.unopened:hover {
    cursor: pointer;
}

