:root {
    --beginner-width: 9;
    --beginner-height: 9;
    --intermediate-width: 16;
    --intermediate-height: 16;
    --expert-width: 30;
    --expert-height: 16;
    --mine-size: 10px;
    --border-width: 1.5px;
    --icon-size: 12px;
    --title-bar-height: 14px;
    --game-name-font-size: 9.2px;
    --letter-space: 0.7px;
    --font-weight: 550;
    --window-border-width: 0.5px;
    --background-color: rgb(0, 128, 128);
}

@font-face {
    font-family: win98;
    src: url(../assets/fonts/win98.ttf);
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
}

* {
    font-family: win98;
}

.game {
    text-align: center;
    padding: 1.5px;
}

.mines {
    display: flex;
    flex-direction: column;
    border-top: var(--border-width) solid grey;
    border-left: var(--border-width) solid grey;
    border-right: var(--border-width) solid white;
    border-bottom: var(--border-width) solid white;
}

.game-wrapper {
    margin: 1px;
    border-top: 1.5px solid rgb(253, 255, 255);
    border-left: 1.5px solid rgb(253, 255, 255);
    border-right: 1.5px solid rgb(129, 129, 129);
    border-bottom: 1.5px solid rgb(129, 129, 129);
    padding: 2px;
}

.game-name {
    color: white;
    padding: none;
    margin: none;
    font-size: var(--game-name-font-size);
    letter-spacing: var(--letter-space);
    font-weight: var(--font-weight);
}

.icon {
    margin: 0 1px;
    ;
    width: var(--icon-size);
    height: var(--icon-size);
}

.title-bar {
    display: flex;
    background-color: rgb(9, 9, 171);
    height: var(--title-bar-height);
    align-items: center;
}

.container {
    border: 0.5px solid white;
    border-top: 0.5px solid rgb(253, 255, 255);
    border-left: 0.5px solid rgb(253, 255, 255);
    border-right: 0.5px solid rgb(195, 195, 195);
    border-bottom: 0.5px solid rgb(195, 195, 195);
    border-radius: 1px;
}

.window {
    background-color: rgb(197, 197, 197);
    border-top: var(--window-border-width) solid rgb(253, 255, 255);
    border-left: var(--window-border-width) solid rgb(253, 255, 255);
    border-right: var(--window-border-width) solid rgb(195, 195, 195);
    border-bottom: var(--window-border-width) solid rgb(195, 195, 195);

}

.control-button {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}

.control-button button {
    height: 9px;
    width: 10px;
    margin-left: 1px;
    border: none;
    position: relative;
    padding: 0px;
    text-align:center;
    font-size: 7px;
    font-weight: bolder;
    background-color: rgb(195, 195, 195);
    border-top: 0.5px solid rgb(253, 255, 255);
    border-left: 0.5px solid rgb(253, 255, 255);
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

#minimum {
    font-weight: bolder;
    font-size: 10px;
}

#maximum {
    color: rgb(131, 125, 125);
}

#exit {
    margin-right: 2px;
}

.menus {
    height: 12px;
    display: flex;
}

.menus button {
    border: none;
    background-color: rgb(195, 195, 195);
    font-size: 9px;
    margin: none;
    font-weight: 550;
    letter-spacing: 0.3px;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 0px;
    padding-bottom: 1px;
}

.menus span {
    text-decoration: underline;
}

.status {
    display: flex;
    height: 15px;
    border-top: var(--border-width) solid grey;
    border-left: var(--border-width) solid grey;
    border-right: var(--border-width) solid white;
    border-bottom: var(--border-width) solid white;
    padding: 3px;
    margin-bottom: 3px;
}

#mine-left {
    background-image: url(../assets/images/num-background.svg);
    height: 15px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.num {
    height: 14px;
    width: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.4px 0.8px;
}

.num-zero {
    background-image: url(../assets/images/num-zero.svg);
}

.num-one {
    background-image: url(../assets/images/num-one.svg);
}

.num-two {
    background-image: url(../assets/images/num-two.svg);
}

.num-three {
    background-image: url(../assets/images/num-three.svg);
}

.num-four {
    background-image: url(../assets/images/num-four.svg);
}

.num-five {
    background-image: url(../assets/images/num-five.svg);
}

.num-six {
    background-image: url(../assets/images/num-six.svg);
}

.num-seven {
    background-image: url(../assets/images/num-seven.svg);
}

.num-eight {
    background-image: url(../assets/images/num-eight.svg);
}

.num-nine {
    background-image: url(../assets/images/num-nine.svg);
}

#restart {
    height: 14px;
    width: 14px;
    margin: 0 auto;
    border-top: 1px solid rgb(253, 255, 255);
    border-left: 1px solid rgb(253, 255, 255);
    border-right: 1px solid rgb(195, 195, 195);
    border-bottom: 1px solid rgb(195, 195, 195);
    box-shadow: 0.7px 0.7px rgb(0, 0, 0);
    background-color: rgb(195, 195, 195);
}

#restart:hover {
    cursor: pointer;
}

#timer {
    background-image: url(../assets/images/num-background.svg);
    height: 15px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}


.mine-row {
    height: var(--mine-size);
    width: auto;
}

.mine-row div {
    height: var(--mine-size);
    width: var(--mine-size);
    background-size: contain;
}

.zeroMine {
    background-image: url("/assets/icons/zero.svg");
}

.oneMine {
    background-image: url("/assets/icons/one.svg");
}

.twoMine {
    background-image: url("/assets/icons/two.svg");
}

.threeMine {
    background-image: url("/assets/icons/three.svg");
}

.fourMine {
    background-image: url("/assets/icons/four.svg");
}

.fiveMine {
    background-image: url("/assets/icons/five.svg");
}

.sixMine {
    background-image: url("/assets/icons/six.svg");
}

.sevenMine {
    background-image: url("/assets/icons/seven.svg");
}

.eightMine {
    background-image: url("/assets/icons/eight.svg");
}

.mine {
    background-image: url("/assets/icons/mine.svg");
}

.unopened {
    background-image: url("/assets/icons/unopened-square.svg");
}

.pressing {
    background-image: url("/assets/icons/pressed.svg");
}

.flagged {
    background-image: url("/assets/icons/flag.svg");
}

.targetExploded {
    background-image: url("/assets/icons/mine-explode.svg");
}

.exploded {
    background-image: url("/assets/icons/mine.svg");
}

.flagMissed {
    background-image: url("/assets/icons/flag-missed.svg");
}

.unopened:hover {
    cursor: pointer;
}