:root {
    --mine-size: 25px;
    --border-width: 3.75px;
    --icon-size: 25px;
    --title-bar-height: 29px;
    --game-name-font-size: 20px;
    --letter-space: 1.25px;
    --font-weight: 550;
    --window-border-width: 1.25px;
    --background-color: rgb(0, 128, 128);
}

@font-face {
    font-family: win98;
    src: url(../assets/fonts/win98.ttf);
}

body {
    margin: 0;
    box-sizing: border-box;
    /* background-color: var(--background-color); */
    background-image: url(../assets/images/desktop-background.jpg);
    height: 97vh;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    font-family: win98;
    user-select: none;
}

.game {
    text-align: center;
    padding: 1.875px;
}

.mines {
    display: flex;
    flex-direction: column;
    border-top: var(--border-width) solid grey;
    border-left: var(--border-width) solid grey;
    border-right: var(--border-width) solid white;
    border-bottom: var(--border-width) solid white;
}

.game-wrapper {
    margin: 2.5px;
    border-top: 3.75px solid rgb(253, 255, 255);
    border-left: 3.75px solid rgb(253, 255, 255);
    border-right: 3.75px solid rgb(129, 129, 129);
    border-bottom: 3.75px solid rgb(129, 129, 129);
    padding: 2.5px;
}

.game-name {
    color: white;
    padding: none;
    margin: none;
    font-size: 18px;
    letter-spacing: var(--letter-space);
    font-weight: normal;
}

.icon {
    margin: 0 2.5px;
    width: var(--icon-size);
    height: var(--icon-size);
    user-select: none;
}

.title-bar {
    display: flex;
    background: linear-gradient(to right, rgb(9, 9, 171), rgba(12,130,204,255));
    /* background-color: rgb(9, 9, 171); */
    height: var(--title-bar-height);
    align-items: center;
}

.title-bar:hover {
    cursor: default;
}

.container {
    position: absolute;
    top: 200px;
    left: 200px;
    margin: 0 auto;
    border: 1.25px solid white;
    border-top: 1.25px solid rgb(253, 255, 255);
    border-left: 1.25px solid rgb(253, 255, 255);
    border-right: 1.25px solid rgb(195, 195, 195);
    border-bottom: 1.25px solid rgb(195, 195, 195);
    border-radius: 2.5px;
}

@media only screen and (max-width: 900px) {
    .container {
        top: 25vh;
        left: 15vw;
    }
}

.window {
    background-color: rgb(197, 197, 197);
    border-top: var(--window-border-width) solid rgb(253, 255, 255);
    border-left: var(--window-border-width) solid rgb(253, 255, 255);
    border-right: var(--window-border-width) solid rgb(195, 195, 195);
    border-bottom: var(--window-border-width) solid rgb(195, 195, 195);
    box-shadow: 1.75px 1.75px rgb(0, 0, 0);

}

.control-button {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}

.control-button button {
    height: 22px;
    width: 23px;
    margin-left: 2.5px;
    border: none;
    position: relative;
    padding: 0px;
    text-align:center;
    font-size: 17.5px;
    font-weight: bolder;
    background-color: rgb(195, 195, 195);
    border-top: 1.25px solid rgb(253, 255, 255);
    border-left: 1.25px solid rgb(253, 255, 255);
    border-right: 1.25px solid black;
    border-bottom: 1.25px solid black;
}

.black-button:active {
    padding-left: 1px;
    padding-top: 1px;
    border-top: 1.25px solid black;
    border-left: 1.25px solid black;
    border-right: 1.25px solid rgb(253, 255, 255);
    border-bottom: 1.25px solid rgb(253, 255, 255);
}

#minimum {
    font-weight: bolder;
    font-size: 25px;
}

#maximum {
    color: rgb(131, 125, 125);
}

#quit {
    margin-right: 2px;
}

.menus {
    height: 25px;
    display: flex;
    position: relative;
}


.menus button {
    border: none;
    background-color: rgb(195, 195, 195);
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 0.75px;
    padding: 0;
    border-top: 1.25px solid rgb(195, 195, 195);
    border-left: 1.25px solid rgb(195, 195, 195);
    border-right: 1.25px solid rgb(195, 195, 195);
    border-bottom: 1.25px solid rgb(195, 195, 195);
    margin-top: 1px;
    position: absolute;
}

#game-menu-btn {
    width: 50px;
}

#help-menu-btn {
    width: 50px;
}

.menus button:hover {
    border-top: 1.25px solid rgb(253, 255, 255);
    border-left: 1.25px solid rgb(253, 255, 255);
    border-right: 1.25px solid grey;
    border-bottom: 1.25px solid grey;
    box-shadow: 1.25px 1.25px rgb(0, 0, 0);
}

.menus button:active {
    padding-top: 1.25px;
    border-top: 1.25px solid grey;
    border-left: 1.25px solid grey;
    border-right: 1.25px solid rgb(253, 255, 255);
    border-bottom: 1.25px solid rgb(253, 255, 255);
}


#game-menu {
    width: 50px;
    height: 28.75px;
    margin-right: 7.5px;
    margin-left: 5px;
}

#help-menu {
    width: 50px;
    height: 28.75px;

}

.tick {
    margin-left: 5px;
    margin-right: 4px;
    height: 12.5px;
    width: 12.5px;
    opacity: 0%;
}

.show-tick {
    opacity: 100%;
}

li {
    list-style: none;
    margin-top: 1px;
    margin-bottom: 1px;
}

li:hover {
    background-color: rgb(9, 9, 171);
    color: white;
    cursor: default;
}

.menus span {
    text-decoration: underline;
}

.menu-content {
    display: none;
    font-size: 17.5px;
    padding: 1.25px;
    border-top: 1.75px solid rgb(253, 255, 255);
    border-left: 1.75px solid rgb(253, 255, 255);
    border-right: 1.5px solid grey;
    border-bottom: 1.5px solid grey;
    position: absolute;
    background-color: rgb(195, 195, 195);
    text-align: left;
    margin: 0;
    padding-left: 2.5px;
    top: 26.5px;
    left: 2.5px;
    width: 150px;
    letter-spacing: 1px;
    box-shadow: 1.25px 1.25px rgb(0, 0, 0);
}

.show-menu-content {
    display: block;
}

.grey-text {
    color: gray;
    text-shadow: 1px 1px white;
}

.grey-text:hover {
    color: gray;
}

#help-content {
    left: 62.5px;
    width: 125px;
}

.seperate-line {
    width: 147.5px;
    height: 0px;
    border-top: 1.25px solid grey;
    border-bottom: 1.25px solid rgb(253, 255, 255);
}

.status {
    display: flex;
    height: 35px;
    border-top: var(--border-width) solid grey;
    border-left: var(--border-width) solid grey;
    border-right: var(--border-width) solid white;
    border-bottom: var(--border-width) solid white;
    padding: 7.5px;
    margin-bottom: 7.5px;
}

#mine-left {
    background-image: url(../assets/images/num-background.svg);
    height: 37.5px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.num {
    height: 35px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3.5px 2px;
}

.num-zero {
    background-image: url(../assets/images/num-zero.svg);
}

.num-one {
    background-image: url(../assets/images/num-one.svg);
}

.num-two {
    background-image: url(../assets/images/num-two.svg);
}

.num-three {
    background-image: url(../assets/images/num-three.svg);
}

.num-four {
    background-image: url(../assets/images/num-four.svg);
}

.num-five {
    background-image: url(../assets/images/num-five.svg);
}

.num-six {
    background-image: url(../assets/images/num-six.svg);
}

.num-seven {
    background-image: url(../assets/images/num-seven.svg);
}

.num-eight {
    background-image: url(../assets/images/num-eight.svg);
}

.num-nine {
    background-image: url(../assets/images/num-nine.svg);
}

.restart {
    height: 35px;
    width: 35px;
    margin: 0 auto;
    border-top: 3.25px solid rgb(253, 255, 255);
    border-left: 3.25px solid rgb(253, 255, 255);
    border-right: 2.5px solid rgb(195, 195, 195);
    border-bottom: 2.5px solid rgb(195, 195, 195);
    box-shadow: 1.75px 1.75px rgb(0, 0, 0);
    background-color: rgb(195, 195, 195);
    background-size: contain;
    background-repeat: no-repeat;
}

.playing {
    background-image: url(../assets/icons/playing.png);
}

.searching {
    background-image: url(../assets/icons/searching.png);
}

.win {
    background-image: url(../assets/icons/win.png);
}

.lose {
    background-image: url(../assets/icons/lose.png);
}

.restart:active {
    border-top: 3.25px solid rgb(0, 0, 0);
    border-left: 3.25px solid rgb(0, 0, 0);
    border-right: 2.5px solid rgb(253, 255, 255);
    border-bottom: 2.5px solid rgb(253, 255, 255);
    box-shadow: none;
}

#restart:hover {
    cursor: pointer;
}

#timer {
    background-image: url(../assets/images/num-background.svg);
    height: 37.5px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.mine-row {
    height: var(--mine-size);
    width: auto;
}

.mine-row div {
    height: var(--mine-size);
    width: var(--mine-size);
    background-size: contain;
}

.zeroMine {
    background-image: url("../assets/icons/zero.svg");
}

.oneMine {
    background-image: url("../assets/icons/one.svg");
}

.twoMine {
    background-image: url("../assets/icons/two.svg");
}

.threeMine {
    background-image: url("../assets/icons/three.svg");
}

.fourMine {
    background-image: url("../assets/icons/four.svg");
}

.fiveMine {
    background-image: url("../assets/icons/five.svg");
}

.sixMine {
    background-image: url("../assets/icons/six.svg");
}

.sevenMine {
    background-image: url("../assets/icons/seven.svg");
}

.eightMine {
    background-image: url("../assets/icons/eight.svg");
}

.mine {
    background-image: url("../assets/icons/mine.svg");
}

.unopened {
    background-image: url("../assets/icons/unopened-square.svg");
}

.pressing {
    background-image: url("../assets/icons/pressed.svg");
}

.flagged {
    background-image: url("../assets/icons/flag.svg");
}

.targetExploded {
    background-image: url("../assets/icons/mine-explode.svg");
}

.exploded {
    background-image: url("../assets/icons/mine.svg");
}

.flagMissed {
    background-image: url("../assets/icons/flag-missed.svg");
}

#task-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    height: 33px;
    background-color: rgba(192,192,192,255);
    border-top: 1.5px solid rgb(253, 255, 255);
}

#start {
    width: 80px;
    margin: 2px;
    background-color: rgba(192,192,192,255);
    border-top: 2px solid rgb(253, 255, 255);
    border-left: 2px solid rgb(253, 255, 255);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.vertical-divider {
    width: 1px;
    height: 36px;
    border-left: 1px solid grey;
    border-right: 1px solid white;
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 1px;
}

#start img {
    padding-top: 5px;
    width: 16px;
}

#start span {
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#start:active {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid rgb(253, 255, 255);
    border-bottom: 2px solid rgb(253, 255, 255);
    padding-top: 2px;
}

.minesweeper-task {
    display: flex;
    text-align: left;
    width: 200px;
    margin: 2px;
    background-color: rgba(192,192,192,255);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid rgb(253, 255, 255);
    border-bottom: 2px solid rgb(253, 255, 255);
    background: rgb(235, 235, 235);
    background-image: radial-gradient(rgb(200, 200, 200) 1px, transparent 0);
    background-size: 3px 3px;
}

@media only screen and (max-width: 900px) {
    .minesweeper-task {
        width: 20vw;
    }
}

.minesweeper-task img {
    margin-left: 0px;
    padding-top: 1px;
    width: 22px;
}

.minesweeper-task span {
    margin-left: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 500px) {
    .minesweeper-task span {
        display: none;
    }
}


.empty-space {
    margin: 0 auto;
}

#notification {
    display: flex;
    width: 160px;
    margin: 2px;
    background-color: rgba(192,192,192,255);
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#notification img {
    width: 20px;
    margin: 3px;
}

#notification span {
    margin: 0 auto;
    font-size: 20px;
    letter-spacing: 1px;
}

#program-icons {

    width: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.desktop-icon {
    height: 90px;
}

.desktop-icon img{
    width: 40px;
    padding-left: 31px;
    padding-bottom: 0px;
}

.program-name {
    text-align: center;
    font-size: 16px;
    height: 20px;
    margin: 0;
    color: white;
    background-color: rgb(19,123,129);
    width: 80px;
    margin-left: 10px;
    border:1px solid rgb(19,123,129);
}

.selected {
    border-style: dotted;
    border-width: 1px;
    background-color: rgb(9, 9, 171);
    border: 1px dotted white;
}

.minesweeper-program {
    position: relative;
}

.shortcut {

    position: absolute;
    left: 10px;
}

.minimum-status {
    border-top: 2px solid rgb(253, 255, 255);
    border-left: 2px solid rgb(253, 255, 255);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgba(192,192,192,255);
}

